/* 其它变量 */
$--color-primary: #5584ff;
$--color-success: #c1e87e;
$--color-warning: #FFC000;
$--color-danger: #F98564;
$--color-info: #909399;
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
// $--color-text-placeholder: #C0C4CC;
$--border-color-base: #ccc;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #EBEEF5;
// $--border-color-extra-light: #F2F6FC;